name: Release idaes-pse
run-name: Release idaes-pse ${{ inputs.tag }}

on:
  workflow_dispatch:
    inputs:

      tag:
        description: Version tag
        type: string
        required: true

      phase:
        description: Which phase of the release process to run
        type: choice
        required: true
        options:
          - pypi

jobs:

  pypi:
    name: Create PyPI package for idaes-pse ${{ inputs.tag }}
    if: inputs.phase == 'pypi'
    uses: ./.github/workflows/pypi.yml
    with:
      upload: true
      repository: IDAES/idaes-pse
      release-tag: ${{ inputs.tag }}
      pypi-name: idaes-pse
      python-version: '3.11'
      runner-image: ubuntu-22.04
      build-command: |
        python -m build
      extras-require: '[ui,coolprop,grid]'
      test-command: |
        idaes get-extensions --extra petsc --verbose
        pip install pytest
        wget https://raw.githubusercontent.com/IDAES/idaes-pse/main/pytest.ini
        pytest --pyargs idaes -m "unit" -x -k "not (TestMSContactorInitializerNoHoldup or TestMSContactorInitializerWithHoldup)"
    secrets:
      test-pypi-token: ${{ secrets.TESTPYPI_TOKEN_LBIANCHI }}
      pypi-token: ${{ secrets.PYPI_TOKEN_LBIANCHI }}

  env-snapshot:
    name: Create env snapshot for idaes-pse ${{ inputs.tag }}
    needs: [pypi]
    uses: ./.github/workflows/env-snapshot.yml
    with:
      pypi-name: idaes-pse
      version: ${{ inputs.tag }}
      extras-require: '[ui,coolprop,grid]'
      python-version: '3.11'
